[Unit]
Description=Bring up br_prv and br-int at boot
After=network-online.target openvswitch-switch.service
Wants=network-online.target openvswitch-switch.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ovs-vsctl --may-exist add-br br-int -- set bridge br-int datapath_type=system
ExecStart=/usr/bin/ovs-vsctl --may-exist add-br br_prv -- set bridge br_prv datapath_type=system
ExecStart=/usr/bin/ovs-vsctl --may-exist add-port br-int int-br_prv -- set interface int-br_prv type=patch options:peer=phy-br_prv
ExecStart=/usr/bin/ovs-vsctl --may-exist add-port br_prv phy-br_prv -- set interface phy-br_prv type=patch options:peer=int-br_prv
ExecStart=/usr/sbin/ip link set br_prv up
ExecStart=/usr/sbin/ip link set br-int up
ExecStart=/bin/bash -c "ip addr show dev br_prv | grep -q 192.168.1.1/24 || ip addr add 192.168.1.1/24 dev br_prv"
ExecStart=/bin/bash -c 'docker network inspect macvlan_net >/dev/null 2>&1 || docker network create -d macvlan --subnet=192.168.1.0/24 --gateway=192.168.1.1 -o parent=br-int macvlan_net'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

